@import "../../../../styles/varialbes"

.entry
  display: flex
  justify-content: center
  order: 1
  width: 100%
  margin:
    top: 1.9rem

.entry__inner
  display: flex
  width: 316px

.entry__item
  margin:
    right: .7rem
  &:last-of-type
    margin:
      right: 0

.entry__register
  width: 167px

.entry__login
  width: 139px

+media-query($tablet)
  .entry
    width: auto
    order: 0
    margin:
      top: 0

  .entry__inner
    width: auto

  .entry__item
    margin:
      right: 1.3rem

  .entry__register
    width: 145px

  .entry__login
    width: 94px