mixin steps(items)
	each item in items
		.how-it-works__step
			.how-it-works__step-img(style=`background-image:url(${require(`../../components/how-it-works/${item.image}`)})`)
			.how-it-works__step-text=item.text

.how-it-works.wrapper
	.how-it-works__inner.wrapper__inner
		h2.title Как это работает
		.how-it-works__middle
			.video-placeholder
			.how-it-works__steps
				+steps(
				[
					{
						image: 'how-it-works__step-0.png',
						text: 'Мы получаем процент от покупок привлеченных клиентов в интернет‑магазинах'
					},
					{
						image: 'how-it-works__step-1.png',
						text: 'Вы совершаете покупки в этих интернет‑магазинах'
					},
					{
						image: 'how-it-works__step-2.png',
						text: 'Мы переводим большую часть денег на Ваш счет, которые можно вывести на телефон или другим способом'
					}
				]
				)
		a.how-it-works__btn.btn.btn_accent.btn_uppercase другие вопросы