@import ../../../styles/varialbes

.header__form
  display: flex
  margin:
    top: 1rem

.header__form-label
  background:
    color: #f3f2f2
  flex: 1
  padding: .55rem 1rem

.form__label
  display: flex
  border:
    radius: 4px

.form__input
  flex: 1
  font-size: 13px
  &::placeholder
    transition: $common-transition-duration
  &:focus
    &::placeholder
      color: transparent

.header__form-link
  width: 121px
  height: 40px
  margin:
    left: .6rem

.form__search-icon
  pointer-events: none
  fill: #757575
  margin:
    top: .1rem
    right: -.3rem