@import "../../../../styles/varialbes"

.user
  display: flex
  align-items: center
  padding: 0 .5rem
  margin:
    top: 2rem

.user__col
  display: flex
  flex-flow: column

.user__col_last
  align-items: flex-end

.user__inner
  display: flex
  flex: 1

.user__close
  fill: $gray-color
  display: none
  margin:
    left: 3.4rem

.user__col-top
  height: 25px
  margin:
    bottom: 1.1rem

.user__name
  color: $gray-color
  width: 125px

.user__status
  width: 125px
  font:
    weight: 700
  display: flex
  color: $gray-color

.user__status-name
  line-height: .85

.user__status-text
  margin:
    left: .4rem

.user__status-static
  font:
    size: 12px
  color: #c8c8c8

.user__actions
  display: flex
  margin:
    right: .5rem

.user__action
  fill: $gray-color
  +hover

.user__settings
  margin:
    right: 1rem

.user__actions-email
  position: relative
  &:before
    content: attr(data-cnt)
    color: $white-color
    position: absolute
    font:
      size: 13px
      weight: 700
    right: -.15rem
    top: -.15rem
    z-index: 1
  &:after
    content: ''
    width: 1.1rem
    height: 1.1rem
    position: absolute
    top: -.3rem
    right: -.5rem
    border:
      radius: 50%
    background:
      color: $secondary-color

.user__balance
  width: 125px

.user__balance-title
  color: #1b1b1b
  margin:
    bottom: .6rem
  font:
    size: 13px

.user__balance-value
  font:
    size: 20px
    weight: 700
  &:after
    content: '₽'
    margin:
      left: .4rem

.user__balance-current
  .user__balance-value
    color: $accent-color

.user__avatar
  cursor: pointer
  border:
    radius: 50%
  background:
    color: #e5e5e5
  width: 2.6rem
  height: 2.6rem
  display: flex
  align-items: center
  justify-content: center
  transition: $common-transition-duration

.user__avatar-icon
  pointer-events: none
  fill: $white-color

+media-query($tablet)
  .user
    margin:
      top: 1.5rem

  .user__settings
    margin:
      right: 1.2rem

  .user__close
    display: flex

+media-query($desktop)
  .user
    margin:
      top: 0
    padding: 0

  .user__close
    display: none

  .user__inner
    justify-content: space-between
    margin:
      left: .5rem
    margin:
      top: .5rem

  .user__actions
    margin:
      left: 0
    width: 100%
    justify-content: flex-end

  .user__col_last
    margin:
      right: .5rem

  .user__balance-title
    margin:
      bottom: .2rem

  .user__avatar
    &.active
      background:
        color: $secondary-color