mixin slides(cnt, img)
	-for(var i = 0; i < cnt; i++)
		.banner__slide.swiper-slide
			img.banner__slide-img(src=require(`../../components/banner/${img}`))

.wrapper.banner
	.wrapper__inner
		.swiper-container.banner-container.carousel-container.banner-container_not-mobile
			.swiper-wrapper.carousel-wrapper
				+slides(3, 'carousel-item.png')
			.swiper-pagination.carousel-pagination
			.carousel-navigation
				.banner__navigation-item__prev.carousel-navigation__prev.carousel-navigation-item
					+svgIcon('arrow', 'carousel-navigation__arrow')
				.banner__navigation-item__next.carousel-navigation__next.carousel-navigation-item
					+svgIcon('arrow', 'carousel-navigation__arrow')
		.swiper-container.banner-container.carousel-container.banner-container_mobile
			.swiper-wrapper.carousel-wrapper
				+slides(3, 'carousel-item_mobile.png')
			.swiper-pagination.carousel-pagination