.header__menu.menu
	.header__menu-inner.menu__inner
		.menu__head
			+svgIcon('close', 'menu__close')
		.menu__body
			include ./entry/index
			include ./user/index
			include ./menu-list/index
			.menu__forms
				include ./forms/index
	.header__switch-menu
		+svgIcon('menu', 'header__switch-menu header__menu-icon')
