@import varialbes
/*global styles*/
body
  font:
    size: 16px
    family: 'Roboto', sans-serif
  min-width: $min-width
  transition: opacity $common-transition-duration

.d-none
  display: none
/*eo global styles*/
