@import "../../../../styles/varialbes"

.form
  cursor: default
  flex-flow: column
  width: 100%
  opacity: 0
  transition: $common-transition-duration, opacity 0s
  pointer-events: none
  position: absolute
  transform: translate(100vw)
  padding:
    top: 3.6rem
  height: 100%
  overflow: auto

.form__inner
  flex: 1
  padding:
    bottom: 2rem
  overflow: auto

.form__header
  position: relative
  text-align: center
  font:
    size: 23px
    weight: 700
  color: $gray-color
  text-transform: uppercase
  margin:
    bottom: 1.4rem

.form__header-close
  display: none
  fill: $gray-color
  position: absolute
  right: -15px
  top: 0

.form__form-elements
  display: flex
  flex-flow: column
  margin:
    top: 1.45rem
    bottom: 1.5rem

.form__form-element
  display: flex
  margin:
    bottom: 1.25rem
  height: 45px

.form__input-label
  display: flex
  +border-radius
  padding: 0 1rem
  border: 1px solid #bfbfbf

.form__input-label_fill
  border: 1px solid #f3f3f3
  background:
    color: #f3f3f3

.form__input
  width: 100%
  font:
    size: 14px
  &::placeholder
    color: #9d9d9d

.form__link
  cursor: pointer
  color: $accent-color
  +hover

.form__link-desktop
  display: none
  justify-content: flex-end
  margin:
    bottom: 1.5rem
    top: -.8rem
  color: $gray-color

.login-form__actions
  display: flex
  align-items: center

.login-form__btn
  margin:
    right: 1.6rem
  width: 151px

.form__form-static
  display: none
  +border-radius
  margin:
    bottom: 2.25rem

.form__captcha-row
  display: flex
  justify-content: space-between

.form__captcha
  width: 147px
  +border-radius
  background:
    color: #f3f3f3

.form__captcha-input
  width: 148px

+media-query($tablet)
  .form__header
    margin:
      bottom: 5rem

  .form__header-close
    display: flex

+media-query($desktop)
  .form
    transform: none
    +border-radius(6px)
    background:
      color: $white-color
    padding:
      top: 0
    height: auto

  .form__header
    margin:
      bottom: 0
    padding: 2rem 0
    background:
      color: #f8f8f8
    border-top-left-radius: 6px
    border-top-right-radius: 6px

  .form__header-close
    fill: $black-color
    right: 1.7rem
    top: 50%
    transform: translate(0, -50%)

  .form__inner
    display: flex
    padding: 2rem 4rem 1rem

  .form__form-elements
    order: 1
    margin: 0
    flex: 1

  .form__form-static
    display: flex

  .form__link-mobile
    display: none

  .form__link-desktop
    display: flex

  .login-form__btn
    flex: 1
    margin:
      right: 0