.state-popup
	.state-popup__inner
		.state-popup__title Пользователь авторизован?
		.state-popup__items
			.state-popup__item(data-authorised="true") Да
			.state-popup__item(data-authorised="false") Нет