extends ../base

block title
	| Backmycash
block content
	include ../../components/state-popup/index
	include ../../components/banner/index
	include ../../components/shops/index
	include ../../components/how-it-works/index
	include ../../components/about-us/index
	include ../../components/overlay/index