@import "../../styles/varialbes"

.fill-accent
  fill: $accent-color

.btn
  display: flex
  align-items: center
  justify-content: center
  font:
    weight: 700
  color: $white-color
  border:
    radius: 4px

.btn_accent
  background:
    color: $accent-color

.btn_secondary
  background:
    color: $secondary-color

.btn_uppercase
  text-transform: uppercase
  padding:
    top: .1rem

//icons
.search-ico
  width: .9rem
  height: 1.3rem

.menu-ico
  width: 2rem
  height: 1.7rem

.close-ico
  width: 1.5rem
  height: 1.5rem

.status-ico
  width: 1.5rem
  height: 1.5rem

.settings-ico
  width: 1.5rem
  height: 1.5rem

.email-ico
  width: 1.5rem
  height: 1.5rem

.avatar-ico
  width: 1.5rem
  height: 1.5rem

.vk-ico
  fill: #537598

.fb-ico
  fill: #094d93

.ok-ico
  fill: #e85a24

.g-plus-ico
  fill: #c94538

.ya-ico
  fill: #e32121

.mailru-ico
  fill: #ffb131