mixin text(text)
	.text-block__side !{text}

.text-block.wrapper
	.wrapper__inner
		h2.title Покупай с Back My Cash
		.text-block__sides
			+text('Back My Cash верит, что совершать покупки должно быть легко и весело - именно поэтому у нас есть огромный выбор онлайн-магазинов, предлагающих товары на любой вкус. Войдите в личный кабинет, выберите понравившийся магазин из списка - и покупайте товары, как обычно. Важно помнить, что открывать сайты магазинов нужно именно с сайта http://backmy.cash - только в этом случае будет перечислен кэшбек.<br><br>Совет: Установите расширение для браузера Back My Cash чтобы видеть доступные кэшбеки во всех посещаемых онлайн-магазинах.')
			+text('Back My Cash верит, что совершать покупки должно быть легко и весело - именно поэтому у нас есть огромный выбор онлайн-магазинов, предлагающих товары на любой вкус. Войдите в личный кабинет, выберите понравившийся магазин из списка - и покупайте товары, как обычно. Важно помнить, что открывать сайты магазинов нужно именно с сайта http://backmy.cash - только в этом случае будет перечислен кэшбек.<br><br>Совет: Установите расширение для браузера Back My Cash чтобы видеть доступные кэшбеки во всех посещаемых онлайн-магазинах.')