mixin aboutUsItems(items)
	each item in items
		.about-us__item
			.about-us__item-img(style=`background-image:url(${require(`../../components/about-us/${item.image}`)})`)
			.about-us__item-text
				.about-us__item-text-value(class=typeof item.additionalClass === "undefined" ? "" : item.additionalClass)=item.value
				if(item.link)
					a(href="#").about-us__item-text-static=item.static
				else
					.about-us__item-text-static=item.static

.about-us.wrapper
	.about-us__inner.wrapper__inner
		h2.title О нас в цифрах
		.about-us__items
			+aboutUsItems(
			[
				{
					image: 'about-us-0.png',
					value: '123 456',
					static: 'пользователей'
				},
				{
					image: 'about-us-1.png',
					value: '987',
					static: 'магазинов',
					link: true
				},
				{
					image: 'about-us-2.png',
					value: '241 609',
					static: 'выплатили',
					additionalClass: 'about-us__item-text-value_with-ruble'
			}
			]
			)