mixin nav(items)
	ul.footer__nav-list
		each item in items
			li.footer__nav-list-item
				a(href="#").footer__nav-list-item-link=item

mixin payments(items)
	each item in items
		img.footer__payment(src=require(`../../components/footer/${item}`))

footer.footer.wrapper
	.footer__inner.wrapper__inner
		.footer__side
			.footer__side-row.footer__apps-and-payments
				.footer__apps
					.footer__title мобильное приложение
					.footer__apps-inner
						a(href="#")
							img.footer__app-logo.footer__app-store-logo(src=require('../../components/footer/app-store.png'))
						a(href="#")
							img.footer__app-logo(src=require('../../components/footer/google-play.png'))
				.footer__payments
					.footer__title выплаты с помощью:
					.footer__payments-inner
						+payments(
						[
							'visa-logo.png',
							'qiwi-logo.png',
							'operators-logo.png',
							'ya-money-logo.png',
							'webmoney-logo.png'
						]
						)
		nav.footer__side.footer__nav
			.footer__title основные разделы
			+nav([
				'Магазины',
				'Расширение для браузера',
				'Вопрос ответ',
				'Новости'
			])
		.footer__side.footer__contacts-and-social
			.footer__contacts
				.footer__title контакты:
				.footer__contacts__inner
					.footer__contacts-email-wrapper E-mail:
						a.footer__contacts-link.footer__contacts-email(href="mailto:backmycash@inbox.ru") backmycash@inbox.ru
					.footer__contacts-tel-wrapper Тел.:
						a.footer__contacts-link.footer__contacts-tel(href="tel:+78002342343") 8 (800) 234-23-43
			.footer__social
				.footer__title мы в социальных сетях:
				.footer__social-row
					include ../../components/social/index
	.footer__bottom.wrapper
		.footer__bottom-inner.wrapper__inner
			.footer__bottom-inner-side © 2017-2017 «BackMyCash»
			.footer__bottom-inner-side.footer__bottom-inner-side-version v.1.3.6