mixin menuList(items)
	each item in items
		a.menu__list-item(href="#" class=`${typeof item.authorised === "undefined" ? "" : "authorised-item"} ${typeof item.className === "undefined" ? "" : item.className}`)
			+svgIcon(item.icon, 'menu__list-item-icon')
			span.menu__list-item-title=item.title

.menu__list
	.menu__list-inner
		+menuList(
		[
			{
				title: 'Магазины',
				icon: 'shop'
			},
			{
				title: 'Расширение для браузера',
				icon: 'extension'
			},
			{
				title: 'Что такое кэшбэк',
				icon: 'question'
			},
			{
				title: 'Новости',
				icon: 'news'
			},
			{
				title: 'Мои магазины',
				icon: 'star',
				authorised: true
			},
			{
				title: 'Мои заказы',
				icon: 'order',
				authorised: true
			},
			{
				title: 'Мои отзывы',
				icon: 'message',
				authorised: true
			},
			{
				title: 'Выплаты',
				icon: 'wallet',
				authorised: true
			},
			{
				title: 'Поддержка',
				icon: 'support',
				authorised: true
			},
			{
				title: 'Приведи друга',
				icon: 'add-friend',
				authorised: true
			},
			{
				title: 'Уведомления',
				icon: 'notification',
				authorised: true
			},
			{
				title: 'Генератор ссылок',
				icon: 'link',
				authorised: true
			},
			{
				title: 'Настройки',
				icon: 'settings',
				authorised: true
			},
			{
				title: 'История переходов',
				icon: 'history',
				authorised: true
			},
			{
				title: 'Выход из профиля',
				icon: 'exit',
				authorised: true,
				className: 'menu__list-item-exit'
			}
		]
		)