@import ../../styles/varialbes

.header
  display: flex
  flex-flow: column
  padding: .8rem .7rem

.header__item
  display: flex
  align-items: center
  justify-content: space-between

.header__logo
  width: 7.4rem

.header__menu-icon
  width: 2rem
  height: 1.7rem
  fill: #747474
  margin:
    top: -1px