@import ../../styles/varialbes

.header
  display: flex
  flex-flow: column
  padding: .8rem .7rem

.header__item
  display: flex
  align-items: center
  justify-content: space-between

.header__logo
  width: 7.4rem
  height: 3.1rem

.header__switch-menu
  cursor: pointer
  .header__menu-icon
    pointer-events: none

.header__menu-icon
  cursor: pointer
  fill: #747474
  margin:
    top: -1px

.header__menu_authorised
  .menu__close
    fill: $gray-color

.header__menu-inner
  display: flex
  flex-flow: column
  min-width: $min-width
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  transform: translate(100%)
  transition: $common-transition-duration
  pointer-events: none
  &.active
    pointer-events: auto
    transform: translate(0)