doctype html
html(lang='ru')
	head
	meta(charset='utf-8')
	meta(name='viewport', content="initial-scale=1, maximum-scale=1 width=device-width")
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
	title
		block title
	body(style="opacity: 0;")
		include ../../mixins/index
		include ../../components/header/index
		main.main
			block content
		include ../../components/state-popup/index
		include ../../components/overlay/index
		include ../../components/footer/index
		.d-none
			include ../../components/svg/index