mixin socialItems(items)
	each item in items
		a(href="#" class=`social__icon-wrapper ${item}-icon`)
			+svgIcon(item)

.social
	+socialItems([
		'vk',
		'fb',
		'ok',
		'g-plus',
		'ya',
		'mailru'
	])